.contact-section {
  border: 2px solid rgb(209, 136, 0);
  border-radius: 5px;
  overflow: hidden;
}

.contact-header {
  background-color: rgb(209, 136, 0);
  color: #f5f5f5;
}

.contact-header > i {
  font-size: 24px;
  padding: 10px;
  vertical-align: middle;
}

.contact-header > h3 {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.selected-version {
  background-color: rgb(248, 217, 160);
  /* background-color: rgba(209, 136, 0, 0.1); */
  font-style: italic;
}

.update-contact {
  float: right;
  padding: 7px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 10px;
  background-color: rgb(209, 136, 0);
  border: 2px solid #f5f5f5;
  border-radius: 5px;
  cursor: pointer;
  color: #f5f5f5;
  font-size: 14px;
  font-weight: bold;
}

.update-contact:hover {
  background-color: #f5f5f5;
  color: rgb(209, 136, 0);
}