/* Small devices */
.contacts-small {
  display: none;
}

.contacts-small .contact-info {
  padding: 20px;
}

.contacts-small .contact-info > h3 > i {
  padding: 10px;
  padding-top: 4px;
  float: right;
  font-size: 22px;
}

.contacts-small .contact-info > h3 > .edit-contact {
  color: rgb(209, 136, 0);
}

.contacts-small .contact-info > h3 > .delete-contact {
  color: rgb(202, 0, 0);
}

.contacts-small .contact-info:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1)
}

.contacts-small h3 > u {
  text-decoration: none;
  border-bottom: 3px solid #000;
}

.contacts-small .info-div {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.contacts-small .info-heading {
  margin-bottom: 10px;
}
/* Small devices End */

.contacts-section {
  /* margin-bottom: 20px; */
  border: 2px solid #333;
  border-radius: 5px;
  overflow: hidden;
}

.contacts-section .contacts-header {
  background-color: #333;
  color: #f5f5f5;
}

.contacts-section .contacts-header > i {
  font-size: 24px;
  padding: 10px;
  vertical-align: middle;
}

.contacts-section .contacts-header > h3 {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.contacts-section table {
  width: 100%;
  padding: 10px;
  border-spacing: 0;
  font-size: 12px;
}

.contacts-section th {
  border-bottom: 1px solid #ddd;
}

.contacts-section th, .contacts-section td {
  padding: 10px;
  text-align: left;
}

.contacts-section tbody > tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1)
}

.contacts-section .edit-column {
  width: 120px;
}

.contacts-section td > i {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.contacts-section td > .edit-contact {
  color: rgb(209, 136, 0)
}

.contacts-section td > .delete-contact {
  color: rgb(202, 0, 0);
}

.contacts-section .empty-contacts {
  padding: 10px;
  font-style: italic;
}

@media only screen and (max-width: 470px) {
  .contacts-small {
    display: block;
  }

  .contacts-section table {
    display: none;
  }
}