.form-section {
  margin-bottom: 20px;
  border: 2px solid rgb(38, 117, 1);
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}

.form-header {
  background-color: rgb(38, 117, 1);
  color: #f5f5f5;
}

.form-header > i {
  font-size: 24px;
  padding: 10px;
  vertical-align: middle;
}

.form-header > h3 {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.input-section {
  padding: 10px;
}

.input-section > label {
  display: block;
  padding-bottom: 7px;
}

.input-section > input {
  width: 100%;
  padding: 7px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.input-section > i {
  margin-top: 7px;
  color: rgb(38, 117, 1);
  font-size: 20px;
  cursor: pointer;
}

.input-section > button {
  width: 100%;
  padding: 10px;
  background-color: rgb(38, 117, 1);
  border-radius: 5px;
  cursor: pointer;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: bold;
}

.input-section > button > i {
  padding-right: 8px;
}

.input-section > button:hover {
  background-color: rgb(28, 88, 0);
}

/* .form-div {
  margin-bottom: 20px;
  border: 2px solid rgb(38, 117, 1);
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
}

.form-div-heading {
  background-color: rgb(38, 117, 1);
  color: #f5f5f5;
}

.form-div-heading > i {
  font-size: 24px;
  padding: 10px;
  vertical-align: middle;
}

.form-div-heading > h3 {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

.input-section {
  padding: 10px;
}

label {
  display: block;
  padding-bottom: 7px;
}

input {
  width: 100%;
  padding: 7px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: rgb(38, 117, 1);
  border-radius: 5px;
  cursor: pointer;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: bold;
}

button > i {
  padding-right: 8px;
}

button:hover {
  background-color: rgb(28, 88, 0);
} */